<hr>
  <div id="section-cta" style="
  width: fit-content;
  text-align: center;
  margin: auto;">
    <h3> {{ section.settings.text-box }} </h3>
    <a href="{{ section.settings.link }}" class="btn ">{{ section.settings.linktext }}</a>
  </div>
<hr>

{% schema %}
{
  "name": "Button",
  "settings": [
    {
      "id": "text-box",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    },
    {
      "id": "link",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "linktext",
      "type": "text",
        "label": "Button text",
        "default": "Click Here"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Button Size",
      "default": "medium",
      "options": [
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        }
      ]

    }
  ],
  "presets": [
    {
        "category": "Button",
        "name": "Button",
        "settings": {
          "text-box": "Title",
          "linktext": "Click Here"
        }
      }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
